{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Tracker'}, 'Tracker') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('tracker_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Tracker')}} <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('tracker_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Tracker')}} <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('tracker_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Tracker')}} <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}


{% block body %}
    <section class="content-header">
        <h1>{{ 'Tracker' | trans({}, 'Tracker')}}</h1>
        <ol class="breadcrumb">
            <li><a href={{ path('dashboard') }}><i class="fa fa-dashboard"></i> {{"Dashboard" | trans({}, 'Tracker')}}</a></li>
            <li class="active" >{{ '%entity% list'|trans({'%entity%': 'Tracker'}, 'Tracker') }}</li>
        </ol>
    </section>
    <section class="content">    
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% list'|trans({'%entity%': 'Tracker'}, 'Tracker') }}</h3>
                <div class="box-tools pull-right">                    <a class="btn btn-default" href={{ path('tracker_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Tracker'}, 'Tracker') }}
                    </a>
                            </div>
            </div>
            <div class="box-body">    
            <table class="table table-striped table-hover table-bordered records_list">
                <thead>
                    <tr>
                        <th scope="col">{{ thead('tracker', 'id', 'Id') }}</th>
                        <th scope="col">{{ thead('tracker', 'name', 'Name') }}</th>
                        <th scope="col">{{ thead('tracker', 'description', 'Description') }}</th>
                        <th scope="col">{{ 'Actions'|trans({}, 'Tracker') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tracker in paginator %}
                        <tr>
                            <td><a href="{{ path('tracker_show', {id: tracker.id}) }}">{{ tracker.id }}</a></td>
                            <td>{{ tracker.name }}</td>
                            <td>{{ tracker.description }}</td>
                            <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('tracker_show', {id: tracker.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'Tracker') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('tracker_edit', {id: tracker.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'Tracker') }}
                            </a>
                        </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {{ knp_pagination_render(paginator) }}
            </div>
        <div class="box-footer">

        </div>
        
    </section>        

{% endblock %}
