{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Tracker'}, 'Tracker') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ 'Tracker' | trans({}, 'Tracker')}}</h1>
        <ol class="breadcrumb">
            <li><a href={{ path('dashboard') }}><i class="fa fa-dashboard"></i> {{"Dashboard" | trans({}, 'Tracker')}}</a></li>
            <li><a href="{{ path('tracker') }}"> {{ '%entity% List'|trans({'%entity%': 'Tracker'}, 'Tracker') }}</a></li>
            <li class="active" >{{ 'New %entity%'|trans({'%entity%': 'Tracker'}, 'Tracker') }}</li>
        </ol>
    </section>        
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% creation'|trans({'%entity%': 'Tracker'}, 'Tracker') }}</h3>
            </div>
            <div class="box-body">
                {{ form_start(form, {action: path('tracker_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'Tracker') }}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">
                        
        <div class="btn-group record_actions">


        </div>

            </div>
        </div>
    </section>
{% endblock %}
